{% extends 'base.html' %}

{% block content %}

<main class="container py-5">

    <section class="card card-body">
        <h1 class="display-1 text-center">Django App</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nesciunt optio adipisci nobis. Rerum, quis, ipsum ab dolore numquam at qui minus provident fugiat ullam sit earum hic exercitationem? Optio necessitatibus cupiditate, id natus amet eveniet eos iure neque nulla et eum libero accusamus voluptatum veniam hic dolores incidunt repudiandae ipsa.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="/signin/">
                Signin
            </a>
            <a class="btn btn-dark" href="/signup/">
                Signup
            </a>
        </div>
        </section>
        
</main>
{% endblock %}